# Environment Variables Template
# Copy this file to .env, .env.local, or .env.prod and fill in the values

# AUTH
BETTER_AUTH_SECRET=your_auth_secret_here
BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app
APP_URL=http://localhost:3000
TRUSTED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000

# DB
DATABASE_URL=your_drizzle_database_url_here

# Social Media Client
GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here

# Backend API Configuration
NEXT_PUBLIC_API_URL=http://localhost:8000

# Allowed Development Origins
ALLOWED_DEV_ORIGINS=localhost,127.0.0.1

# Environment (development/production)
NODE_ENV=development